body {margin: 0;
padding: 0;
background: rgb(80, 162, 168);
}

.top { position: absolute;
    width: 350px;
margin-left: -200px;
margin-top: -150px;}

.bot { position: absolute;
    width: 350px;
margin-top: 250px;
margin-left: 260px;}

.pattern {position: absolute;
margin: 50px;
border-radius: 30px 30px 0 0;
box-sizing: border-box;}

.image {position: absolute;
margin-top: -150px;
margin-left: 30px;
border-radius: 60px;
display:inline-flex;
border: 3px solid rgb(255, 255, 255);
}

.text {position:absolute;
margin-top: 190px;
margin-left: 50px;
padding: 100px 98px;

background-color: white;
border-radius: 0 0 30px 30px;}

.text1, .text2 {display: inline-block;

}

.text1 {margin-left: 0px;
margin-top: -100px;
font-weight: 700;
font-size: 20px;
font-family: sans-serif;
color: rgb(68, 64, 64);}

.text2 {margin-left: 20px;
font-size: 15px;
font-weight:normal;
font-family: sans-serif;
color: rgb(68, 64, 64);}

.london{margin-left: 55px;
margin-top: 8px;
font-family: sans-serif;
color: rgb(158, 158, 158);
font-size: 15px;}

.num { position: absolute;
    border-top: 1px solid #ddd;
width: 270px;
margin-top: 10px;
margin-left: -70px;
padding-top: 20px;
text-align: left;}

.num span {margin-left: 18px;
font-weight: bolder;
margin-top: 10px;
font-family: sans-serif;
color: rgb(68, 64, 64);}

.num1 { position: absolute;
    border-top: 1px solid #ddd;

margin-top: 10px;
margin-left: 60px;
padding-top: 20px;
text-align: left;}

.num1 span {margin-left: 0px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(68, 64, 64);}

.num2 { position: absolute;
    border-top: 1px solid #ddd;

margin-top: 10px;
margin-left: 170px;
padding-top: 20px;
text-align: left;}

.num2 span {margin-left: 5px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(68, 64, 64);}

